body
{
    font-size: 11pt;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 21px;
}

a
{
    color: #f78d1d;
    text-decoration: none;
    padding-right: 8px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 10pt;
}
nav
{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

nav a
{
    float: right;
    text-decoration: none;
    color: #696969;
    font-size: 11pt;
    padding: 10px 5px 10px 5px;
    height: auto;
    margin-bottom: 0px;
}

#menu-bar
{
    float: left;
    display: block;
    margin-left: 5px;
}

.tab-page-header
{
    padding-left: 50px;
    margin-left: -20px;
    float: left;
    width: 940px;
    height: 60px;
    display: block;
    z-index: 5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

nav .tab-page
{
    border-color: #C0C0C0;
    padding: 11px 25px;
    border-width: 1px;
    float: left;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    text-align: center;
    background-color: #F0F0F0;
    z-index: 8;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 10pt;
}

.content-page
{
    float: left;
    display: block;
    z-index: 1;
    padding: 5px;
    width: 940px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* HEADINGS*/
h1
{
    font-size: 38pt;
    font-family: "Folks Negrito", Segoe UI Light, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    font-family: Segoe UI Light, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: 15pt;
}

h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS*/
@font-face
{
    font-family: "Folks Negrito";
    src: url("../fonts/Folks-Bold.ttf");
}

.page
{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
}

footer, #footer
{
    float: left;
    width: 940px;
    text-align: center;
    font-size: 10pt;
}

/* FORM LAYOUT ELEMENTS */
textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 11pt;
    color: #444;
    width: 200px;
    padding: 5px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 11pt;
    color: #444;
}

input[type="submit"]
{
    font-size: 11pt;
    padding: 5px;
}

/* TABLE*/
table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

.row-expand
{
    background-color: #FFFFFF;
}

row-expand:hover
{
    background-color: #FFFF99;
}

row-expand-content
{
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif, Verdana;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.multicolumn
{
    float: none;
    display: block;
    margin-left: 0px;
    margin-top: 10px;
}

.multicolumn div
{
    float: left;
    width: 250px;
    height: 250px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 10pt;
}

.border-right-dotted
{
    border-right-style: dotted;
    border-right-width: thin;
    border-right-color: #999999;
}

.multicolumn h1
{
    font-family: Segoe UI Light, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: 30pt;
}

#top-home-banner
{
    background-position: 530px center;
    background-color: #F0F0F0;
    padding: 30px 30px;
    background-image: url('../img/page-pricing-freetrial-hero.png');
    background-repeat: no-repeat;
    z-index: 8;
}

/* MISC*/
.clear
{
    clear: both;
}
.error
{
    color: Red;
}

/* Styles for validation helpers*/
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}
.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}
.text-box
{
    width: 150px;
    padding: 5px;
}
.text-box.multi-line
{
    height: 21px;
}
.tri-state
{
    width: 21px;
}

/* Button*/
.button
{
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 5px 16px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.orange
{
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}
.orange:hover
{
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.orange:active
{
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
}

.green
{
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
}
.green:hover
{
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
}
.green:active
{
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
}
