body
{
    font-size: 11pt;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

li
{
    list-style-type: none;
}

a
{
    color: #f78d1d;
    text-decoration: none;
    padding-right: 8px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 10pt;
}

nav
{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

nav a
{
    float: right;
    text-decoration: none;
    color: #696969;
    font-size: 11pt;
    padding: 10px 5px 10px 5px;
    height: auto;
    margin-bottom: 0px;
}

#menu-bar
{
    float: left;
    display: block;
    margin-left: 5px;
}

.tab-page-header
{
    /*padding-left: 50px;*/
    margin-left: -20px;
    float: left;
    width: 960px;
    height: 60px;
    display: block;
    z-index: 5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #C0C0C0;
}

nav .tab-page
{
    border-color: #C0C0C0;
    padding: 11px 25px;
    border-width: 1px;
    float: left;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    text-align: center;
    background-color: #F0F0F0;
    z-index: 8;
    font-family: Arial, Helvetica, sans-serif, Verdana;
    font-size: 10pt;
}

.content-page
{
    float: left;
    display: block;
    z-index: 1;
    padding: 5px;
    width: 960px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* HEADINGS*/
h1
{
    font-size: 38pt;
    font-family: "Folks Negrito", Segoe UI Light, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    font-family: Segoe UI Light, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: 15pt;
}

h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS*/
@font-face
{
    font-family: "Folks Negrito";
    src: url("../fonts/Folks-Bold.ttf");
}

.page
{
    width: 960px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
}

footer, #footer
{
    float: left;
    width: 960px;
    text-align: center;
    font-size: 10pt;
}

/* FORM LAYOUT ELEMENTS */
textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 11pt;
    color: #444;
    width: 200px;
    padding: 5px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 11pt;
    color: #444;
}

input[type="submit"]
{
    font-size: 11pt;
    padding: 5px;
}

/* TABLE*/
table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

.row-expand
{
    background-color: #FFFFFF;
}

row-expand:hover
{
    background-color: #FFFF99;
}

row-expand-content
{
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif, Verdana;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.multicolumn
{
    float: none;
    display: block;
    margin-left: 0px;
    margin-top: 30px;
}

.multicolumn div
{
    float: left;
    width: 250px;
    height: 250px;
    padding-left: 34px;
    padding-right: 34px;
    text-align: justify;
    font-size: 10pt;
}

.border-right-dotted
{
    border-right-style: dotted;
    border-right-width: thin;
    border-right-color: #999999;
}

.multicolumn h1
{
    font-family: Segoe UI Light, "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: 30pt;
}

#slider ul li
{
    z-index: 8;
    width: 960px;
    height:400px;
}

.top-home-banner
{
    margin-left: -30px;
    background-position: 530px center;
    background-color: #F0F0F0;
    padding: 30px 30px;
    background-image: url('../img/SPEDSimples.png');
    background-repeat: no-repeat;
    z-index: 8;
}

/* MISC*/
.clear
{
    clear: both;
}
.error
{
    color: Red;
}

/* Styles for validation helpers*/
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}
.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}
.text-box
{
    width: 150px;
    padding: 5px;
}
.text-box.multi-line
{
    height: 21px;
}
.tri-state
{
    width: 21px;
}

/* Button*/
.button
{
    border-style: none;
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 8px 16px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.orange
{
    color: #fef4e9;
    background: #f78d1d;
}
.orange:hover
{
    background: #f47c20;
}
.orange:active
{
    color: #fcd3a5;
}

.green
{
    color: #fff;
    background: #669900;
}
.green:hover
{
    background: #538018;
}
.green:active
{
    color: #fff;
}

.blue
{
    color: #fff;
    background-color: #0066FF;
}
.blue:hover
{
    background: #538018;
    background-color: #0033CC;
}
.blue:active
{
    color: #fff;
}
